<h4 class="text-center text-primary"> First Pie-Chart Example</h4><br/>
<div>
  <div>
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
<div>
  <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
  <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
  <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
  <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
  <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend Position</button>
</div>

<br><br>

<h4 class="text-center text-primary"> Second Pie-Chart Example</h4><br/>

<div style="display: block">
  <canvas baseChart
    [data]="pieChartDataTwo"
    [labels]="pieChartLabelsTwo"
    [chartType]="pieChartTypeTwo"
    (chartHover)="chartHoveredTwo($event)"
    (chartClick)="chartClickedTwo($event)">
  </canvas>
</div>